:root {
    --black: #0b0c11;
    --gray: #a3a3a3;
    --gdray: rgba(163, 163, 163, 0.3);
    --blue: #85baec;
}

@font-face {
    font-family: "LeagueSpartan";
    src: url("/public/fonts/LeagueSpartan.ttf")
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url("/public/fonts/PlayfairDisplay-Regular.otf")
}

@font-face {
    font-family: "Poppins";
    src: url("/public/fonts/Poppins-Regular.ttf")
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/public/background.svg);
    background-repeat: repeat-y;
    background-size: contain;
}

.typeOne {
    font-family: "LeagueSpartan";
    text-transform: uppercase;
    color: var(--black);
    letter-spacing: .35vw;
    text-decoration: none;
    font-size: .7vw
}

.typeTwo {
    font-family: "PlayfairDisplay";
    text-transform: capitalize;
    color: var(--black);
}

.typeThree {
    font-family: "Poppins";
    color: var(--gray);
    font-size: 1vw;
}

.box {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 8fr 84fr 8fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:". . .";
}

.simpleLink {
    transition: all 0.2s linear;
}

.simpleLink:hover {
    color: var(--blue);
}

@keyframes logoAnimation {
    0% {
        transform: rotateY(0deg);
    }
    20% {
        transform: rotateY(360deg);
    }
    40% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
.notAllowed{
    cursor: not-allowed !important;
}